body{
    font-family: "poppins";
    background-color: rgb(4, 4, 49);
}
.select {
    padding: 15px;
    /* margin: 10px 20px auto; */
    margin: 3% auto  ;
    width:100%;
    outline:none;
    border: none;
}

.first-row {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 0px 10px 0px; */
    max-width: 97%;

}

.button{
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color:green;
    color: white;
}